body{
    background-color: lightblue;
}

/*.submit-button{
    display:block;
    width:250px;
    padding: 15px 30px;         
    margin: 10px auto;          
    text-decoration: none;      
    color: white;
    background-color: plum;  
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
}*/

h2{
    color:hsl(328, 100%, 54%);
    font-size: 60px;
    text-align: center;
}

thead {
    background-color: rgb(237, 138, 237);
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 30px;
}

table {
    margin: 0 auto;
    width: 50%;
    border-collapse: collapse;
}

table tbody tr:nth-of-type(odd) {
    background-color:white; 
    color: lightblue;
}
table tbody tr:nth-of-type(even) {
   background-color: #f4daf4; 
   color:white;
}
.Name{
    color:hsl(328, 100%, 54%);  
    font-size: 30px;
    display: block;
    text-align: center;
}

/*.textbox{
    display: block;        
    margin: 50px auto;    
    width: 400px;          
    height: 50px;  
    font-size: 18px;
}*/
