<!doctype html>
<html lang="en">
      <link rel="stylesheet" href="{{ url_for('static', filename='add_user.css') }}">
  <head>
    <title>Add New User</title>
  </head>
  <body>
    <h1>Add New User</h1>
    <form action="{{ url_for('add_user') }}" method="post">
      <label class= "Name"  for ="name">Name:</label><br />
      <input class= "textbox" type="text" id="name" name="name" required /><br />
      <input class="submit-button" type="submit" value="Submit" />
    </form>
  </body>
</html>
