<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='display_users.css') }}">
</head>
<body>
    <h2>Users List</h2>
    <table class="table table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th class="Name">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <a href="{{ url_for('playlist.html', user_id=user['user_id']) }}" style="color: inherit; text-decoration: none;">
                        {{ user['name'] }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>