<!doctype html>
<html lang="en">
<head>
    <title>Users List</title>
    <!-- Bootstrap CSS for styling the table -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='user_playlist.css') }}">
</head>
<body>
<div class="container">
    <h2>{{ user_name }}'s Playlist</h2>

    <table class="table table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th>Track Name</th>
                <th>Artist</th>
            </tr>
        </thead>
        <tbody>
            {% for song, artist in playlist %}
            <tr>
                <td>{{ song }}</td>
                <td>{{artist}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('display_users') }}" class="btn">Back to Users</a>
</div>
            </tbody>
        </table>
    </div>
 </body>
</html>
